@charset 'utf-8';
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");


@import 'reset';
@import 'header';
@import 'show';
@import 'sns';

/* mask example 
section{
    width: 100%;
    height: 100vh;
    position: relative;

    article{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font: bold 100px/1 'arial';
        color: #fff;

        &.lower{
            background: pink;
        }

        &.upper{
            background: aqua;
            -webkit-mask: url(../src/mask1.png);
            -webkit-mask-size: 2300% 100%;  //23장이 이어져있어서
            -webkit-mask-position: 0% 0%;
        }
    }

    &.on{
        .upper{
            animation: mask-play 1.4s steps(22) forwards;   //첫번째 이미지가 보여지고 있어서 0-22까지
        }
    }
}

@keyframes mask-play {
    0%{-webkit-mask-position: 0% 0%;}
    100%{-webkit-mask-position: 100% 0%;}
}
*/

